<div>
  <h4><%= flash[:alert] %></h4>
  <a href="/user/logout">Log Out</a>
  <h1>Write Post</h1>
  <form action="/wall/write_complete" method="post">
    Name: <%= @current_user.username %><br>
    Content: <br>
    <textarea name="content" cols="40" rows="5" placeholder="What's up?"></textarea>
    <input type="submit" value="write">
  </form>

  <h1>Recent Posts</h1>
  <% @posts.reverse.each do |post| %>
    <div style="background-color: #ffffff; width: 400px; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
      <form action="/wall/delete_complete" method="post">
        <input type="hidden" name="id" value="<%= post.id %>">
        <p style="text-align: right; clear: left">
        <input type="submit" value="delete"></p>
      </form>
      <h3 style="color: blue;"><%= post.name %></h3> <p style="font-size:70%"><%= post.created_at %></p>
      <p><%= post.content %></p>
      <!--form action="/wall/edit_complete" method="post">
        <input type="hidden" name="id" value="<%= post.id %>">
        <p style="text-align: right; clear: both">
        <input type="submit" value="edit"></p>
      </form-->
      <form action="/wall/comment_complete" method="post">
        <input type="hidden" name="post_id" value="<%= post.id %>">
        <p><%= @current_user.username %>: <input style="width: 300px;" type="text" name="content" placeholder="What do you think..?"><input type="submit" value="write"></p>
      </form>
      <% post.comments.reverse.each do |comment| %>
        <div style="background-color: #fafbfb; width: 390px; border: 1px solid #d3d6db; padding: 0px 5px 0px 5px;  word-break: break-all; text-align: left;">
          <p style="font-size: 90%; text-align: left"><span style="color: #0000ff; font-weight: bold;"><%= comment.name %></span> <%= comment.content %></p>
        </div>
      <% end %>
    </div><br>
  <% end %>
</div>
